.background-chats {
    position: relative;
    overflow: hidden;
    top: 0px;
    z-index: 100;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(150deg, #d9dbe2, #808aac 100%, #282d39 0);
  }
.background-index {
  padding: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100vw - 200px);
  height: calc(100vh - 200px);
  background: linear-gradient(150deg, #d9dbe2, #808aac 100%, #282d39 0);
}

.auth-container {
  width: 420px;
  height: 292px;
  position: relative;
  top: calc(50vh - 144px - 100px);
  left: calc(50vw - 240px - 100px);
  background-color: #4a5162;
  border-radius: 24px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 68%);
}

.auth-form {
  padding-top: 33px;
  width: 60%;
  margin-left: 20%;
}

.auth-title {
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 26px;
}

.text-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 24px;
  background-color: #4a5162;
  outline: none;
  border-width: 0px;
  border-bottom: 2px solid #726dfe;
  color: white;
}

.text-input::placeholder {
  color: hsla(0, 0%, 100%, 0.568);
}

.submit-button {
  width: 100%;
  padding: 14px;
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
  background-color: #726dfe;
  color: white;
  outline: none;
}

.submit-button::hover {
  background-color: #938ffe;
}